input[type="button"] 

         { 

         background-color:white; 

         color: black; 

         

         width:110% 

         } 

  

         input[type="text"] 

         { 

         background-color:white; 
         color:black;}